{
  "project_name": "{{ item.project_name }}",
  "metadata": {
    "public": "{{ item.public }}",
    {% if item.vulnerability_scanning %}"auto_scan": "{{ item.vulnerability_scanning }}"{% endif %}
  }
}
