{
  "credential": {
    "access_key": "{{ item.registry_access_key }}",
    "access_secret": "{{ item.registry_access_secret }}",
    "type": "{{ item.registry_auth_type }}"
  },
  "name": "{{ item.registry_name }}",
  "url": "{{ item.registry_url }}",
  "insecure": {{ item.registry_insecure | default(false) }},
  "type": "{{ item.registry_type }}"
}
